<div class="container margin-top-30">
    <div class="row">
        <div class="col-1-of-2 grid">

        </div>
        <div class="col-1-of-2 grid">

        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 text-center">
        <button id="buttonPull" (click)="getAllTickets()">Show Tickets</button>
    </div>
</div>



<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 text-center">
        <button id="buttonPull" (click)="printArray()">Show Tickets</button>
    </div>
</div>

<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <div id="ticketTable" class="text-center"></div>
    </div>
</div>