<!--Header that grabs the currentUser's firstName and lastName and uses data binding to make them appear in the header information.-->
<header class="ms-header" *ngIf="currentUser">
    <div class="ms-header__logo-box">
        <img src="../assets/logomtair1.png" alt="Logo" class="ms-header__logo" routerLink="/home">
    </div>

    <nav class="ms-nav">
        <a class="ms-nav-logout" href="#" (click)="logout()">Log out</a>

        <a class="ms-nav-user" href="#">
            <img class="ms-user-img" src="../assets/user.jpg" alt="Photo of User">
            <span>{{currentUser.firstName}} {{currentUser.lastName}}</span>
        </a>
    </nav>

</header>


<!--This is where the navigation bar's HTML is located.-->
<main class="ms-main">

    <div class="ms-admin-view">
        <nav class="ms-admin-view__menu" *ngIf="currentUser">
            <ul class="ms-side-nav">
                <li>
                    <!-- <a href="#" routerLink='/home' routerLinkActive='ms-side-nav--active'> -->
                    <a href="#" routerLink='/home' routerLinkActive="ms-side-nav--active">
                        <!-- <ion-icon name="ios-home" class="ion-icon"></ion-icon> -->
                        <i class="icon ion-ios-home ion-icon"></i>Home
                    </a>
                </li>
                <li>
                    <!-- <a href="#" routerLink='/forum' routerLinkActive='ms-side-nav--active'> -->
                    <a href="#" routerLink='/forum' routerLinkActive="ms-side-nav--active">
                        <!-- <ion-icon name="ios-chatboxes" class="ion-icon"></ion-icon> -->
                        <i class="icon ion-ios-chatboxes ion-icon"></i>Forum
                    </a>
                </li>
                <li>
                    <!-- <a href="#" routerLink='/ticket' routerLinkActive='ms-side-nav--active'> -->
                    <a href="#" routerLink='/ticket' routerLinkActive="ms-side-nav--active">
                        <!-- <ion-icon name="ios-list-box" class="ion-icon"></ion-icon> -->
                        <i class="icon ion-ios-list ion-icon"></i>Ticket
                    </a>
                </li>
                <li>
                    <!-- <a href="#" routerLink='/admin' routerLinkActive='ms-side-nav--active' *ngIf='isAdmin'> -->
                    <a href="#" routerLink='/admin' *ngIf='isAdmin' routerLinkActive="ms-side-nav--active">
                        <!-- <ion-icon name="ios-person" class="ion-icon"></ion-icon> -->
                        <i class="icon ion-ios-person ion-icon"></i>Admin
                    </a>
                </li>
                <li class="align-right-color">
                    <!-- <a href="#" routerLink='/admin' routerLinkActive='ms-side-nav--active' *ngIf='isAdmin'> -->
                    <a href="https://drive.google.com/drive/folders/1xdClbUvhCcioLM3OMmC2Z-yzZMvOUGtA?usp=sharing"
                    target="_blank">
                        <!-- <ion-icon name="ios-person" class="ion-icon"></ion-icon> -->
                        <i class="icon ion-document-text ion-icon"></i>Documents
                    </a>
                </li>
            </ul>

        </nav>
        <div class="ms-admin-view__content">
            <!--                <div class="line">&nbsp;</div>-->
        </div>

    </div>
    <!--Where the component's HTML will be inject into. Every components HTML will be shown under the navigation bar.-->
    <router-outlet></router-outlet>
     <!--FOOTER-->
  
     <footer class="home-footer">
                    
        Mt. Air &copy; 2019
    </footer>
</main>
