<div class="row" style="margin-bottom:0;">
    <div class="col-lg-12 col-md-12 col-sm-12 text-right">
        <button id="buttonPull" (click)="getAllTickets()">Refresh</button>
    </div>
</div>


<table id="ticketTable">
    <thead>
        <!-- <th *ngFor='let head of tickets | keys'>{{head}}</th> -->
        <th *ngFor="let column of headers">{{column}}</th>
    </thead>
    <tbody>
        <tr *ngFor="let ticket of tickets">
            <!-- <td *ngFor="let list of tickets | keys">
                {{tickets[list].ticketMessage}}
            </td> -->
            <td *ngFor="let column of headers">
                {{ticket[column]}}
            </td>
        </tr>
    </tbody>
</table>