<!-- <h1>This page is currently under construction!</h1> -->
<section class="ms-section-about">

         

    <div class="ms-row ms-roow">
        <!-- <div class="block-text"> -->

        <div class="cool-1-of-2">
            <h3 class="ms-heading-tertiary u-margin-bottom-small">Homeowners Association</h3>
            <p class="paragraph">
                This page is under construction ...
            </p>

            <h3 class="ms-heading-tertiary u-margin-bottom-small">More Description</h3>
            <p class="paragraph">
              Please check back later
            </p>
            
            <!-- <div class="ticket-link">
                    <a href="#" class="ms-btn-text" routerLink="/ticket">Create a ticket &rarr;</a>
            </div> -->
          
        </div>


        <!-- </div> -->


        <div class="cool-1-of-2">
            <div class="composition">
                <img src="../../assets/webPageConstruction.jpg" alt="Photo 2" class="composition__photo composition__photo--p2">
            </div>
        </div>
    </div>      

    </section>