<!--VIEW TICKET-->
<!-- <div class="container-fluid"> -->
    <!-- <div class="ms-row">
        <div class="col-1-of-2">
            <h1 class="h2">Welcome to the HOA Website.</h1>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua. Neque sodales ut etiam sit amet nisl purus in. Sed faucibus turpis in eu mi bibendum
            neque egestas. Quam pellentesque nec nam aliquam sem et tortor consequat id. Id porta nibh venenatis cras.
            Quis hendrerit dolor magna eget. Ipsum consequat nisl vel pretium. Amet est placerat in egestas erat
            imperdiet. Gravida in fermentum et sollicitudin ac. Leo vel fringilla est ullamcorper eget nulla. Morbi
            tristique senectus et netus et malesuada fames ac turpis. Ornare lectus sit amet est placerat. Nullam eget
            felis eget nunc lobortis.

            
        </div>
        <div class="col-1-of-2">
            <img class="img-fluid" style="width:100%;" src="../../assets/download.png">
            <img class="img-fluid" style="width:100%;" src="../../assets/architecture.png">
        </div>
    </div> -->

    <section class="ms-section-about">

         

            <div class="ms-row ms-roow">
                <!-- <div class="block-text"> -->

                <div class="cool-1-of-2">
                    <h3 class="ms-heading-tertiary u-margin-bottom-small">Welcome To Mt. Air Association</h3>
                    <p class="paragraph">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus, praesentium laborum illum quisquam quasi modi nihil ab consequuntur cumque earum labore, rem voluptas! Aspernatur reiciendis, at praesentium.
                    </p>

                    <h3 class="ms-heading-tertiary u-margin-bottom-small">More Description</h3>
                    <p class="paragraph">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius quisquam dicta error impedit, modi optio saepe sit fugiat tenetur nemo maiores.
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius quisquam dicta error impedit, modi optio saepe sit fugiat tenetur nemo maiores.
                    </p>
                    
                    <div class="ticket-link">
                            <a href="#" class="ms-btn-text" routerLink="/ticket">Create a ticket &rarr;</a>
                    </div>
                  
                </div>


                <!-- </div> -->


                <div class="cool-1-of-2">
                    <div class="composition">
                        <img src="../../assets/architecture.jpg" alt="Photo 1" class="composition__photo composition__photo--p1">
                    </div>
                </div>
            </div>      
            </section>
    
<!-- </div> -->