<!--VIEW TICKET-->
<div class="container-fluid">
    <div class="ms-row">
        <div class="col-1-of-2">
            <h1 class="h2">Welcome to the HOA Website.</h1>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua. Neque sodales ut etiam sit amet nisl purus in. Sed faucibus turpis in eu mi bibendum
            neque egestas. Quam pellentesque nec nam aliquam sem et tortor consequat id. Id porta nibh venenatis cras.
            Quis hendrerit dolor magna eget. Ipsum consequat nisl vel pretium. Amet est placerat in egestas erat
            imperdiet. Gravida in fermentum et sollicitudin ac. Leo vel fringilla est ullamcorper eget nulla. Morbi
            tristique senectus et netus et malesuada fames ac turpis. Ornare lectus sit amet est placerat. Nullam eget
            felis eget nunc lobortis.

            Adipiscing vitae proin sagittis nisl rhoncus mattis rhoncus urna neque. Egestas erat imperdiet sed euismod
            nisi porta lorem mollis aliquam. Amet tellus cras adipiscing enim eu turpis egestas pretium. Tempor orci
            dapibus ultrices in. Ultrices in iaculis nunc sed augue lacus viverra. Facilisis sed odio morbi quis commodo
            odio aenean sed. Adipiscing bibendum est ultricies integer. Donec massa sapien faucibus et. Diam sit amet
            nisl suscipit. A scelerisque purus semper eget. Congue mauris rhoncus aenean vel elit scelerisque mauris.
            Non curabitur gravida arcu ac tortor dignissim convallis aenean et. Sodales ut eu sem integer vitae justo
            eget magna fermentum.

            Mi ipsum faucibus vitae aliquet nec. Nibh praesent tristique magna sit. Massa tincidunt dui ut ornare lectus
            sit amet est placerat. Elementum pulvinar etiam non quam lacus suspendisse. Ultrices tincidunt arcu non
            sodales neque sodales ut etiam sit. Gravida arcu ac tortor dignissim convallis aenean et tortor. Scelerisque
            in dictum non consectetur. Fermentum leo vel orci porta non pulvinar. Neque sodales ut etiam sit amet nisl
            purus in. Augue interdum velit euismod in pellentesque massa placerat.

            Morbi tristique senectus et netus et malesuada. Non diam phasellus vestibulum lorem sed risus ultricies
            tristique. Libero id faucibus nisl tincidunt eget. Feugiat in ante metus dictum at tempor. Pellentesque
            massa placerat duis ultricies lacus sed turpis tincidunt id. Amet consectetur adipiscing elit ut aliquam
            purus. Ipsum dolor sit amet consectetur. Amet nisl purus in mollis nunc. Nulla porttitor massa id neque
            aliquam. Augue ut lectus arcu bibendum. Donec et odio pellentesque diam volutpat commodo sed. Elit duis
            tristique sollicitudin nibh sit amet. Vitae congue eu consequat ac felis donec et odio. Arcu bibendum at
            varius vel pharetra vel turpis nunc eget. Leo integer malesuada nunc vel risus commodo viverra. Diam
            phasellus vestibulum lorem sed risus ultricies tristique nulla.

            Enim nunc faucibus a pellentesque sit. Ac placerat vestibulum lectus mauris ultrices eros in cursus turpis.
            Vitae tempus quam pellentesque nec. Aenean vel elit scelerisque mauris pellentesque pulvinar pellentesque.
            Cras semper auctor neque vitae. Ac auctor augue mauris augue neque gravida in fermentum. Amet justo donec
            enim diam vulputate. Ornare massa eget egestas purus viverra accumsan. Natoque penatibus et magnis dis
            parturient montes. Vel pharetra vel turpis nunc. Viverra vitae congue eu consequat. Aliquam purus sit amet
            luctus. Elementum nisi quis eleifend quam adipiscing vitae proin. Turpis nunc eget lorem dolor sed.

            Sed enim ut sem viverra aliquet. Tincidunt arcu non sodales neque sodales ut etiam. Sed id semper risus in
            hendrerit gravida rutrum. At urna condimentum mattis pellentesque id. Consectetur lorem donec massa sapien
            faucibus et molestie. Pellentesque nec nam aliquam sem et tortor. Vitae auctor eu augue ut lectus arcu
            bibendum at varius. At auctor urna nunc id cursus metus aliquam eleifend mi. Facilisis sed odio morbi quis.
            Lobortis feugiat vivamus at augue. Blandit cursus risus at ultrices mi tempus. Metus dictum at tempor
            commodo ullamcorper a. Sit amet dictum sit amet justo donec enim diam. Pharetra magna ac placerat vestibulum
            lectus. Urna neque viverra justo nec ultrices dui. Nunc scelerisque viverra mauris in aliquam sem fringilla.
            Augue lacus viverra vitae congue eu consequat ac.

            Sit amet cursus sit amet dictum. Pretium vulputate sapien nec sagittis aliquam malesuada. Quis enim lobortis
            scelerisque fermentum dui faucibus in ornare quam. Sit amet justo donec enim diam vulputate ut pharetra sit.
            Sociis natoque penatibus et magnis dis. Fermentum dui faucibus in ornare. Tellus mauris a diam maecenas sed
            enim. Rhoncus mattis rhoncus urna neque viverra. In fermentum et sollicitudin ac orci phasellus. Phasellus
            faucibus scelerisque eleifend donec pretium vulputate sapien nec sagittis. Dui vivamus arcu felis bibendum
            ut tristique. Nulla porttitor massa id neque aliquam vestibulum morbi. Sapien nec sagittis aliquam malesuada
            bibendum arcu vitae elementum. A scelerisque purus semper eget. Gravida dictum fusce ut placerat. Ipsum
            dolor sit amet consectetur adipiscing elit pellentesque. Morbi tincidunt augue interdum velit euismod in.
            Aliquam purus sit amet luctus venenatis lectus magna. Netus et malesuada fames ac turpis egestas integer
            eget. Diam sollicitudin tempor id eu nisl nunc mi ipsum faucibus.

            Ac placerat vestibulum lectus mauris ultrices eros. Sapien pellentesque habitant morbi tristique senectus et
            netus et malesuada. Donec pretium vulputate sapien nec sagittis aliquam. Nec ullamcorper sit amet risus
            nullam eget felis. Orci eu lobortis elementum nibh tellus molestie. Amet massa vitae tortor condimentum
            lacinia quis vel. Eu ultrices vitae auctor eu augue. Ornare aenean euismod elementum nisi quis eleifend quam
            adipiscing. Eu volutpat odio facilisis mauris sit amet massa vitae tortor. Consectetur adipiscing elit
            pellentesque habitant morbi tristique senectus et. Ullamcorper malesuada proin libero nunc consequat
            interdum varius. Habitasse platea dictumst quisque sagittis. Tincidunt vitae semper quis lectus nulla at
            volutpat. Adipiscing bibendum est ultricies integer quis auctor elit sed vulputate. Pellentesque id nibh
            tortor id aliquet lectus proin nibh nisl. Aliquam ut porttitor leo a diam sollicitudin tempor id eu. In
            pellentesque massa placerat duis ultricies lacus.

            Integer quis auctor elit sed. Ultricies leo integer malesuada nunc. Condimentum vitae sapien pellentesque
            habitant morbi tristique senectus et. Vitae sapien pellentesque habitant morbi tristique senectus et netus
            et. Porta nibh venenatis cras sed. Dictum sit amet justo donec enim diam. Tincidunt ornare massa eget
            egestas purus viverra accumsan. Amet nisl purus in mollis nunc. Velit aliquet sagittis id consectetur purus.
            Mattis molestie a iaculis at erat pellentesque.

            Habitant morbi tristique senectus et netus. Ut morbi tincidunt augue interdum velit. Quis varius quam
            quisque id. Elementum nibh tellus molestie nunc non blandit massa enim. Mauris pellentesque pulvinar
            pellentesque habitant morbi tristique senectus. Rhoncus urna neque viverra justo nec ultrices dui sapien
            eget. Blandit libero volutpat sed cras ornare arcu dui vivamus arcu. A pellentesque sit amet porttitor eget
            dolor morbi non arcu. Sed pulvinar proin gravida hendrerit lectus. Porttitor rhoncus dolor purus non enim
            praesent elementum. Nulla porttitor massa id neque. Vulputate ut pharetra sit amet aliquam. Neque laoreet
            suspendisse interdum consectetur libero id.
        </div>
        <div class="col-1-of-2">
            <img class="img-fluid" style="width:100%;" src="../../assets/download.png">
        </div>
    </div>

    <!--FOOTER-->
    <footer>
    </footer>
</div>